body {
    background-color: #001f3f; /* Navy blue */
}

.header_bar {
    background-color: gray; /* Bright blue */
    color: aliceblue; /* Bright blue */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
 /* Lighter blue */
}   

.logo {
    height: 60px; /* Adjust the height as needed */
    margin: 10px 20px; /* Add some margin around the logo */
}

.header_buttons {
    margin: auto; /* Push buttons to the right */
    display: flex;
    gap: 10px;
    border-radius: 30%;
    padding: 10px;
    
}

.MainContent {
    background-color: #637AB9;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50vh;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 20px;
    border-radius: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}

.input_bar {
    padding: 10px;
    width: 90%;
    height: 20px;
    position: relative;
    top: 30px;
    margin-top: 20px;
    text-align: center;
}

input[id="clientName"] {
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    font-size: 16px;
}

button[id="search_btn"] {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: solid 1px #ccc;
    cursor: pointer;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}
    
img[id="search_icon"] {
    position: relative;
    left: -5px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
}